html {
    font-family: monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #efefef;
    color: #323232;
    margin: 0;
}

a.title {
    text-decoration: none;
    color: black;
}
